@import url(reset.css);

html {
  scroll-behavior: smooth;
}

body{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    background-color:#FFF5C3;
}


p{
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: orange;
}

.active{
    color: orange;
    text-decoration:underline;
}

.container{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topbar svg{
    width: 5vw;
    transition: all .5s ease-in-out;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

}

svg:hover{
    transform: rotate(360deg) scale(1.5);
    /* animation: dash 1.5s ease-out .2s forwards; */
}
  
  /* @keyframes dash {
   0% {
      stroke-dashoffset: 1000;
      fill: red;
    }
    100%{
        stroke-dashoffset:0;  
    }
  } */

.topbar nav ul{
    display: flex;
}

.topbar li {
    list-style-type: none;
    margin-left: 1em;
}

.home{
    display: flex;
    flex-direction: column;
}

.intro{
    display: flex;
    position: relative;
    font-size: 4em;
    line-height: 1.2em;
    /* width: 60vw; */
    height: 69vh;
    align-items: center;
    margin-left: 10vw;
}

.intro h1{
    font-weight: 700;
}

.intro span:nth-child(1){
    right: 1.5vw;
}

.intro span:nth-child(3){
    right: 1.5vw;
}

.resume{
    width: 37vw;
    margin-right: 2em;
    align-self:flex-end;
    margin-bottom: 2em;
}

.resume span{
    padding: 0 .3em;
    background-color: rgba(255,140,0,.3);
}

@media screen and (max-width: 768px) {
    

    .topbar svg{
        width: 3em;
    }

    .intro{
        width: 88vw;
        align-self:center;
        margin-left: 0;
        height: 40vh;
    }

    .intro h1{
        font-size: .7em;
        line-height: 1.2em;
    }

    .resume{
        width: 80vw;
        margin-left: 0;
        align-self: flex-start;
    }

    .resume p {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 400px) {
    .container{
        width: 95vw;
    }

    .topbar{
        flex-direction: column;
        align-items: center;
    }

    nav li{
        font-size: .8em;
        margin-right: .2em;
    }

    .intro{
        height: 40vh;
        margin-left: 0;
        border-bottom: 2px solid orange;
        margin-bottom: .5em;
    }

    .intro h1{
        font-size: .5em;
        margin-left: 0;
    }
    .resume{
        align-self: center;
    }

    .resume p{
        font-size: 1em;
        margin-left: 0;
    }
}
