<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1275 1206" style="enable-background:new 0 0 1275 1206;" xml:space="preserve"><style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style><g id="P"><path class="st0" d="M259.28,564.64l-80.23-304.65l83.35-22.22c44.57-11.72,90.2,14.9,101.93,59.47
		c11.72,44.57-14.9,90.2-59.47,101.93l-83.39,21.87"/></g><g id="L_1_"><polyline class="st0" points="401.25,33.02 432.26,365.73 549.03,355.13 	"/>
</g><g id="A_1_"><polyline class="st0" points="570.21,441.05 774.43,114.03 850.48,491.93 	"/></g><g id="A2_1_"><line class="st0" x1="650.93" y1="311.79" x2="820.49" y2="342.93"/>
</g><g id="Y"><polyline class="st0" points="883.2,212.51 1001.99,390.44 1147.77,233.92 	"/></g><g id="Y2"><line class="st0" x1="988.65" y1="554.05" x2="1001.99" y2="390.44"/>
</g><g id="T"><line class="st0" x1="531.27" y1="537.47" x2="599.54" y2="537.47"/></g><g id="T2"><line class="st0" x1="565.41" y1="669.82" x2="565.41" y2="537.47"/>
</g><g id="O"><circle class="st0" cx="678.13" cy="604.22" r="64.14"/></g><g id="L"><polyline class="st0" points="150.29,544.64 97.86,854.35 205.7,873.6 	"/>
</g><g id="A"><polyline class="st0" points="431.5,1094.11 580.81,790.63 679.79,1113.98 	"/></g><g id="A2"><line class="st0" x1="490.48" y1="974.23" x2="640.52" y2="985.7"/>
</g><g id="E"><polyline class="st0" points="410.73,652.03 256.1,665.62 283.6,981.25 437.86,968.28 	"/></g><g id="E2"><line class="st0" x1="381.41" y1="807.72" x2="269" y2="817.23"/>
</g><g id="R"><path class="st0" d="M714.2,1035.06l24.13-289.68l78.4,5.39c37.21,2.81,65.1,35.25,62.29,72.46c-2.81,37.21-35.25,65.1-72.46,62.29
		l-79.34-6.78"/></g><g id="R2"><line class="st0" x1="1043.16" y1="1062.38" x2="770.85" y2="882.47"/></g><g id="N"><polyline class="st0" points="967.85,908.72 920.92,625.75 1167.7,874.69 1120.37,591.32 	"/>
</g></svg>

{# <a class="logo" href="/">
{% if assets.logo %}
{{assets.logo | safe}}    
{% else  %}
    <p class="site-title">{{site.name | safe}}</p>
{% endif %}
</a> #}