<aside class="topbar">
    <a href="../index.html">{% include "_partials/logo.njk" %}</a>
    <nav>
        <ul>
            {% for item in collections.sortedByOrder %}
                {% if item.data.menu == true %}
                    <li>
                        <a data-instant {% if page.url == post.url %} aria-current="page"{% endif %} class="{% if item.url in page.url %}active{% endif %}"  href="{{ item.url }}" title="{{ item.data.title }}">
                            {%- if item.data.menutitle -%}{{ item.data.title }}
                            {% else %}{{ item.data.title }}
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</aside>