<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        {% block topbar %}
            {% include "_partials/menu.njk" %}
        {% endblock %}
        
        {% block content %}
            {{content | safe}}
        {% endblock %}

        {% block footer %}
            {% include "_partials/footer.njk" %}
        {% endblock %}
    </div>
</body>
</html>