{% extends "base.njk" %}

{% block content %}
<main>
    <section class="home">
        <article class="intro">
            <h1>Faire confluer 🕹️<br>les cultures 📚<br>des sciences sociales 🧑‍🏫<br>et du jeu vidéo 🎮</h1>
        </article>
            <article class="resume">
                <p>Sous forme d'une <span>émission audiovisuelle interactive</span> déclinée, en fonction des publics visés, sur <span>plusieurs formats</span> et plateformes, chaque épisode thématique propose une scénographie et des principes d’interaction spécifiques pour <span>créer un dialogue ludique</span> entre un·e spécialiste des <span>sciences sociales</span> et un·e spécialiste des <span>jeux vidéo</span>. </p>
            </article>
        </section>
        {# <section class="playground">
            <p>
                <a href="/playground">Émissions playground</a>
            </p>
        </section>
        <section class="conferences">
            <iframe class="reveal" src="https://www.anthonymasure.com/attachments/slides/pdf/2023-11-play-to-learn-giff.pdf"></iframe>
        </section> #}
</main>    
{% endblock %}

